h1{
    color: blueviolet;
    font-size: 200px;
}
h1:hover{
    color: red;
    font-size: 200px;
}
img{
    background-color: blue;
    border-radius: 15px;
    border: 50px;
    position: static;
    border-color: brown;
}